<style>
  .active-chat{
    background-color:#dbebff;
  }
</style>

<div class="container mt-5">
  <div class="row">
    <!-- Danh sách tin nhắn -->
    <div class="col-md-4 border-end">
      <h5 class="text-center">Danh sách Cuộc trò chuyện</h5>
      <div class="chat-list p-3" style="height:79vh; overflow-y: auto;"> 
        {{#each messages}}
          <div
            class="chat-item d-flex align-items-center p-2 border-bottom"
            style="cursor: pointer;"
            data-username="{{this.userName}}"
            data-id="{{this.sender._id}}"
          >
           
            <div class="chat-details flex-grow-1">
              <div class="d-flex justify-content-between">
              <span class="fw-bold text-capitalize">{{this.userName}}</span>
                <small class="text-muted">{{showTime this.timestamp}}</small>
              </div>
              {{#if this.receiver}}
                <div class="text-truncate last-message text-muted" style="width: 18vw;">
               {{this.message.content}}
                </div>
                {{else}}
                 <div class="text-truncate last-message text-muted" style="width: 18vw;">
                   Bạn: {{this.message.content}}
                </div>
              {{/if}}
            </div>
          </div>  
        {{/each}}
      </div>
    </div>

    <!-- Khung chatbox -->
    <div class="col-md-8" id="chatboxContainer"style="display: none;">
      <div class="chatbox border rounded shadow-sm">
        <!-- Header -->
        <div
          class="chatbox-header bg-primary text-white p-2 d-flex justify-content-between align-items-center"
        >
          <span>Chat với <span id="chatboxUserName"></span></span>
        </div>

        <!-- Body -->
        <div
          class="chatbox-body p-3"
          style="height: 100%; max-height: 67vh; overflow-y: auto;"
          id="chatboxMessages"
        >
        </div>

        <!-- Footer -->
        <div class="chatbox-footer p-2 d-flex">
          <input
            type="text"
            class="form-control me-2"
            placeholder="Nhập tin nhắn..."
            id="chatInput"
          />
          <button class="btn btn-primary">Gửi</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var idAdmin = "{{id}}";
</script>