<div class="container mt-3">
  <div class="row">

    <div class="col mx-2 rounded"><img
        src="https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/s24-sliding-pha-gia.png"
        class="card-img-top rounded"
        alt="sd"
      /></div>
    <div class="col-3 bg-dark rounded">sdfsd</div>
  </div>
  {{! sản phẩm nổi bậc cho từng danh mục, mỗi mục 10 sản phẩm được xem nhiều nhất }}
  {{#each categories}}
    {{#if this.products}}
      <div class="mt-3">

        <div class="row d-flex align-items-center">
          <a
            href="/{{this.slug}}"
            class="col-auto fs-4 text-uppercase text-black"
          >{{this.name}}</a>
          <div class="col">
            <ul class="nav">
              {{#each this.children}}
                <li><a
                    href="/{{../this.slug}}/{{this.slug}}"
                    class="btn btn-outline-light px-2 ms-2 custom-bg-gray text-black"
                  >{{this.name}}</a></li>
              {{/each}}
              <li><a
                    href="/{{this.slug}}"
                    class="btn btn-outline-light px-2 ms-2 custom-bg-gray text-black"
                  >Xem tất cả</a></li>
            </ul>
          </div>
        </div>
        <div
          class="align-items-stretch mt-3 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3"
        >
          {{#each this.products}}
            <div class="col">
              <div class="card h-100 shadow-sm position-relative">
                <a href="/product/{{this.slug}}/" class="">

                  {{{showDiscount this.discount.percent}}}
                  <img
                    src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/m/a/may-hut-bui-cam-tay-roidmi-m10..png"
                    class="card-img-top rounded"
                    alt="sd"
                  />
                  <div class="card-body">
                    <p class="card-text fw-bold fs-5">
                      {{this.name}}
                    </p>
                    {{!-- <ul class="nav">
                      {{#each this.variations}}
                      <li
                        class="nav-link px-2 fs-5 rounded custom-bg-gray me-auto mb-1 text-white"
                      ><a href="">8GB-128GB</a></li>
                      {{/each}}
                    </ul> --}}
                    <p class="card-text text-decoration-line-through">
                      {{showDefaultPrice this.variations}}
                    </p>
                    <p class="card-text text-danger fs-4 fw-medium">
                      {{showDiscountPrice this.variations this.discount}}
                    </p>
                    <div class="ratings">
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                      <i class="bi bi-star"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>