<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1>Quản lý danh mục</h1>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Tìm kiếm danh mục"
          id="searchInput"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">Tìm kiếm</button>
        </div>
      </div>

      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-success"
        data-toggle="modal"
        data-target="#addCategoryModal"
      >
        Thêm danh mục mới
      </button>

      <table class="table" id="categoriesTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên danh mục</th>
            <th>Danh mục cha</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          {{#each category}}
            <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.idParent.name}}</td>
              <td>
                <a
                  href="#"
                  data-id="{{this._id}}"
                  class="btn btn-primary edit-category-btn"
                >Sửa</a>
                <a
                  href=""
                  data-bs-toggle="modal"
                  data-id="{{this._id}}"
                  data-bs-target="#delete-category-modal"
                  class="btn btn-danger"
                >Xóa</a>
              </td>
            </tr>
          {{/each}}
          <!-- Thêm các dòng danh mục khác tương tự -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<form name="categoryDelete" method="POST" action=""></form>
<!-- Modal -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addCategoryModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModal">Thêm danh mục mới</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Thêm danh mục</label>
            <input type="text" class="form-control" id="name" />
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Danh mục cha</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
        <button type="submit" class="btn btn-primary">Lưu</button>
      </div>
    </div>
  </div>
</div>