{{!-- <div class="container">
  <form method="POST" action="/api/warranty/{{warranty._id}}?_method=PUT">
    <div class="mt-4 row">
      <div class="col-md-6">
        <div class="form-group my-4">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            name="email"
            value="{{warranty.email}}"
            required
          />
        </div>
        <div class="form-group my-4">
          <label for="name">HoVaTen</label>
          <input
            type="text"
            class="form-control"
            placeholder="HoVaTen"
            id="name"
            name="name"
            value="{{warranty.name}}"
            required
          />
        </div>
        <div class="form-group my-4">
          <label for="phone">Số Điện Thoại</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            placeholder="Nhập số điện thoại"
            name="phone"
            value="{{warranty.phone}}"
            required
          />
        </div>
        <div class="form-group my-4">
          <label for="address">Địa Chỉ</label>
          <input
            type="text"
            class="form-control"
            placeholder="Địa Chỉ"
            name="address"
            id="address"
            value="{{warranty.address}}"
            required
          />
        </div>
        <div class="form-group my-4">
          <label for="note">Ghi Chú</label>
          <input
            type="text"
            class="form-control"
            placeholder="Địa Chỉ"
            name="note"
            id="note"
            value="{{warranty.note}}"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group my-4">
              {{!  }}
              <div class="row">
                {{#each productsAndReasons}}
                  <div class="col-6">
                    <div class="table-responsive">
                      <div>
                        <strong>Tên sản phẩm:</strong>
                        <input
                          type="text"
                          name="productName"
                          id="produc"
                          value="{{this.productName}}"
                          required
                        />
                      </div>
                      <div>
                        <strong>Lý do bảo hành:</strong>
                        <ul>
                          {{#each this.reasonsAndPrices}}
                            <li>
                              <input
                                type="text"
                                name="reason"
                                id="reason"
                                value="{{this.reason}}"
                                required
                              />:
                              <input
                                type="number"
                                name="price"
                                id="price"
                                value="{{this.price}}"
                                required
                              />
                            </li>
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-2 my-4">
      <button type="submit" class="btn btn-primary">Lưu chỉnh sửa</button>
    </div>
  </form>
</div> --}}
<div class="container">
  <form method="POST" action="/api/warranty/{{warranty._id}}?_method=PUT">
    <div class="row mt-4">
      <div class="col-6">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            value="{{warranty.email}}"
            class="form-control"
            id="email"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">HoVaTen</label>
          <input
            type="name"
            value="{{warranty.name}}"
            name="name"
            class="form-control"
            id="name"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="phone" class="form-label">Sodienthoai</label>
          <input
            type="phone"
            value="{{warranty.phone}}"
            name="phone"
            class="form-control"
            id="phone"
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Diachi</label>
          <input
            type="address"
            name="address"
            class="form-control"
            id="address"
            value="{{warranty.address}}"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="note" class="form-label">Ghi chú</label>
        <input
          type="text"
          value="{{warranty.note}}"
          name="note"
          class="form-control"
          id="note"
        />
      </div>
      <div class="col w-100">
        <label for="detail" class="form-label">Sản phẩm</label>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group my-4">
              <div class="row">
                {{#each productsAndReasons}}
                  <div class="col-6">
                    <div class="table-responsive">
                      <div>
                        <strong>Tên sản phẩm:</strong>
                        <select name="productName">
                          {{#each product}}
                            <option
                              value="{{productsAndReasons.productName}}"
                            >{{productsAndReasons.productName}}</option>
                          {{/each}}
                        </select>
                      </div>
                      <div>
                        <strong>Lý do bảo hành:</strong>
                        <ul>
                          {{#each this.reasonsAndPrices}}
                            <li>
                              <input
                                type="text"
                                name="reason"
                                value="{{this.reason}}"
                              />
                              <input
                                type="text"
                                name="price"
                                value="{{this.price}}"
                              />
                            </li>
                          {{/each}}
                        </ul>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="addInput"></div>
      <div class="form-group my-4">
        <button type="submit" class="btn btn-primary">Lưu chỉnh sửa</button>
      </div>
    </div>
  </form>
</div>