<div class="mt-4">
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Email</th>
        <th scope="col">HovaTen</th>
        <th scope="col" class="col-1">HinhAnh</th>
        <th scope="col">Diachi</th>
        <th scope="col">Sodienthoai</th>
      </tr>
    </thead>
    <tbody>
      {{#each warrantys}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.email}}</td>
          <td>{{this.name}}</td>
          <td>
            {{#if this.images.length}}
              <img
                src="/img/uploads/{{first this.images}}"
                alt=""
                class="w-75"
              />
            {{/if}}
          </td>
          <td>{{this.address}}</td>
          <td>{{this.phone}}</td>
          <td>
            <a
              href="/admin/warranty/{{this._id}}/deltail"
              class="btn btn-link"
            >Chi tiết</a>
            <a href="" class="btn btn-link">Xóa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>