<div class="container">
  <h2>ID đơn hàng: {{order._id}}</h2>
  <h4>ID Khách Hàng: {{order.idUser._id}}</h4>
  <div class="row">
    <div class="col-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Sản Phẩm</th>
            <th scope="col">Phân loại</th>
            <th scope="col">Số Lượng</th>
            <th scope="col">Giá</th>
            <th scope="col">Tổng</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
            <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.productName}}</td>
              <td>Màu sắc:
                {{this.variationAttributes.color}}, Dung lượng:
                {{this.variationAttributes.storage}}</td>
              <td>{{this.quantity}}</td>
              <td>{{this.price}}</td>
              <td>{{total this.quantity this.price}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <div
        class="d-flex justify-content-between py-3 border-bottom border-translucent mb-6"
      >
        <p class="text-body-emphasis fw-semibold">Tổng :</p>
        <p class="text-body-emphasis fw-bold me-5">{{order.total}}</p>
      </div>
      <div class="row">
        <div class="col-4">
          <h5>Chi Tiết Khách Hàng</h5>
          <h6><i class="bi bi-person-circle"></i> {{order.idUser.name}}</h6>
          <h6><i class="bi bi-envelope"></i> {{order.idUser.email}}</h6>
          <h6><i class="bi bi-telephone"></i> {{order.idUser.phone}}</h6>
        </div>
        <div class="col-4">
          <h5>Thông Tin Giao Hàng</h5>
          <h6><i
              class="bi bi-person-circle"
            ></i>{{order.shipmentDetail.name}}</h6>
          <h6><i class="bi bi-telephone"></i>
            {{order.shipmentDetail.phone}}</h6>
          <h6><i class="bi bi-house"></i>
            {{order.shipmentDetail.address}}</h6>
        </div>
        <div class="col">
          <h5>Chi Tiết Khác</h5>
          <h6><i class="bi bi-gift"></i> Giảm Giá: Có</h6>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12 card w-100">
          <div class="card-body">
            <div>
              <div class="d-flex justify-content-between">
                <p class="text-body fw-semibold">Tổng :</p>
                <p class="text-body-emphasis fw-semibold">{{order.total}}</p>
              </div>
              <div class="d-flex justify-content-between">
                <p class="text-body fw-semibold">Tổng giảm giá :</p>
                {{! <p class="text-body-emphasis fw-semibold">800.000</p> }}
              </div>
              <div
                class="d-flex justify-content-between border-top border-translucent border-dashed pt-4"
              >
                <h4 class="mb-0">Tổng :</h4>
                <h4 class="mb-0">{{order.total}}</h4>
              </div>
            </div>
          </div>
        </div>
        {{! ================================================================ }}
        <div class="col-12 card w-100 mt-3">
          <div class="card-body">
            <h5>Trạng thái thanh toán</h5>
            <select class="form-select" aria-label="Default select example">
              <option selected>Trạng thái</option>
              <option value="1">Chờ xác nhận</option>
              <option value="1">Thành công</option>
              <option value="1">Thất bại</option>
            </select>
            <h5 class="mt-3">Trạng thái đơn hàng</h5>
            <form id="chaneStatus" method="put" action="/api/{{order._id}}/detail">
              <select id="orderStatus" class="form-select" aria-label="Default select example">
                  <option value="pending" {{#if (chaneStatus orderStatus 'pending')}}selected{{/if}}>Chờ xác nhận</option>
                  <option value="shipping" {{#if (chaneStatus orderStatus 'shipping')}}selected{{/if}}>Đang Vận chuyển</option>
                  <option value="success" {{#if (chaneStatus orderStatus 'success')}}selected{{/if}}>Đã giao hàng</option>
                  <option value="cancel" {{#if (chaneStatus orderStatus 'cancel')}}selected{{/if}}>Đã hủy</option>
              </select>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>