<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Tất cả (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Chờ xác nhận (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đã xác nhận (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đang vận chuyển (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đã giao hàng (###)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đã hủy (###)</a>
    </li>
  </ul>

  <div class="d-flex w-25">
    <input class="form-control me-2" type="search" placeholder="Tìm kiếm đơn hàng" aria-label="Search" />
    <button class="btn btn-outline-success" type="submit">Tìm</button>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Khách Hàng</th>
          <th scope="col">Trạng Thái</th>
          <th scope="col">Tổng</th>
          <th scope="col">Ngày</th>
          <th scope="col" class="col-2">Hành Động</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <td>{{this.idUser.name}}</td>
          <td>{{formatStatus this.status}}</td>
          <td>{{showPrice this.total}}</td>
          <td>{{formatDate this.createdAt "DD/MM/YYYY"}}</td>
          <td><a href="/admin/order/{{this._id}}/detail" class="btn btn-primary">Xem</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>