{{#each productsAndReasons}}
                      <div class="col-12">
                        <input type="hidden" name="details[{{@index}}][detailId]" value="{{this.detailId}}"> 
                        <strong>Chọn sản phẩm muốn thay đổi:</strong>
                        <div class="table-responsive">
                          <select class="m-2" id="idProduct-{{@index}}" name="details[{{@index}}][idProduct]">
                            <option value="{{this.id}}">{{this.productName}}</option>
                            {{#each ../products}}
                                <option value="{{this._id}}"{{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                            {{/each}}
                          </select>
                          </div>
                          <div>
                              <strong>Lý do bảo hành:</strong>
                              <ul >
                                  {{#each this.reasonsAndPrices}}
                                  <li>
                                      <input
                                        type="text"
                                        id="reason-{{@../index}}-{{@index}}"
                                        name="details[{{@../index}}][reasonAndPrice][{{@index}}][reason]"
                                        value="{{this.reason}}"
                                        required
                                      />
                                      <input
                                        type="number"
                                        id="price-{{@../index}}-{{@index}}"
                                        name="details[{{@../index}}][reasonAndPrice][{{@index}}][price]"
                                        value="{{this.price}}"
                                        required
                                      />
                                  </li>
                                  {{/each}}
                                  <li>
                                      <button type="button" class="addButton">Thêm</button>
                                      <button type="button" class="deleteButton">Xóa</button>
                                  </li>
                              </ul>
                          </div>
                      </div>
           
              {{/each}}