<div class="container">
  <div class="d-flex justify-content-end my-3">
    <a href="/admin/product/{{product._id}}/edit" class="btn btn-success">Chỉnh
      Sửa</a>
  </div>
  <div class="row">
    <div class="col">
      <h4>Tên Sản phẩm</h4>
      <p>{{product.name}}</p>
      <h4>Danh mục</h4>
      <p>
        {{#each product.category}}
          {{this}}/
        {{/each}}
      </p>

      <h4>Thương Hiệu</h4>
      <p>{{product.brand}}</p>
    </div>
    <div class="col">
      <h4>Mô Tả Sản Phẩm</h4>
      <p>{{product.description}}</p>
    </div>
  </div>
  <div>
    <table class="table-based table">
      <thead>
        <tr>
          <th>{{product.variations.attributes[key]}}</th>
          <th></th>
          <th>Giá</th>
          <th>Số lượng</th>
        </tr>
      </thead>
      <tbody>
        {{#each product.variations}}
          <tr> 
            <td></td>
            <td></td>
            <td>{{this.variations.price}}</td>
            <td>{{this.variations.quantity}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="row w-75 my-4">
    <h4>Giảm Giá</h4>
    <div class="col">
      <label for="" class="form-label fs-5">Số phần trăm giảm :</label>
      <p>{{product.discount.percent}}</p>
    </div>
    <div class="col">
      <label for="" class="form-label fs-5">Ngày bắt đầu :</label>
      <p>{{product.discount.startDay}}</p>
    </div>
    <div class="col">
      <label for="" class="form-label fs-5">Ngày kết thúc :</label>
      <p>{{product.discount.endDay}}</p>
    </div>
  </div>
  <div class="row">
    <h4>Danh Sách Ảnh</h4>
    {{#each product.images}}
      <img src="" alt="" class="col-3" />
    {{/each}}
  </div>
</div>