<div class="container">
  <div class="d-flex justify-content-end my-3">
    <a href="/admin/product/{{product._id}}/edit" class="btn btn-success">Chỉnh
      Sửa</a>
  </div>
  <div class="row">
    <div class="col">
      <h4>Tên Sản phẩm</h4>
      <p>{{product.name}}</p>
      <h4>Danh mục</h4>
      {{#if product.idCategory.idParent}}<p
        >{{product.idCategory.idParent.name}}</p>{{/if}}
      <h4>Thương Hiệu</h4>
      <p>{{product.idCategory.name}}</p>
    </div>
    <div class="col">
      <h4>Mô Tả Sản Phẩm</h4>
      <p>{{product.description}}</p>
    </div>
  </div>
  <div>
    <table class="table-based table">
      <thead>
        <tr>
          <th>Ram</th>
          <th>Màu sắc</th>
          <th>Giá</th>
          <th>Số lượng</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">8GB</td>
          <td>Đỏ</td>
          <td>1300</td>
          <td>1200</td>
        </tr>
        <tr>
          <td>Xanh</td>
          <td>1300</td>
          <td>1200</td>
        </tr>
        <tr>
          <td rowspan="2">16GB</td>
          <td>Đỏ</td>
          <td>1300</td>
          <td>1200</td>
        </tr>
        <tr>
          <td>Xanh</td>
          <td>1300</td>
          <td>1200</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row w-75 my-4">
    <h4>Giảm Giá</h4>
    <div class="col">
      <label for="" class="form-label fs-5">Số phần trăm giảm :</label>
      <p>{{product.discount.percent}}</p>
    </div>
    <div class="col">
      <label for="" class="form-label fs-5">Ngày bắt đầu :</label>
      <p></p>
    </div>
    <div class="col">
      <label for="" class="form-label fs-5">Ngày kết thúc :</label>
      <p></p>
    </div>
  </div>
  <div class="row">
    <h4>Danh Sách Ảnh</h4>
    <img
      src="https://didongmoi.com.vn/upload/images/product/apple/iphone-15-pro-max-chinh-hang-4.jpg"
      alt=""
      class="col-3"
    />
  </div>
</div>