<div class="mt-4">
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">STT</th>
        <th scope="col">Email</th>
        <th scope="col">HovaTen</th>
        <th scope="col">HinhAnh</th>
        <th scope="col">Diachi</th>
        <th scope="col">Sodienthoai</th>
        <th scope="col">Ghichu</th>
        <th scope="col">Trangthai</th>
        <th scope="col">TongTien</th>
        <th scope="col">ChiTiet</th>
      </tr>
    </thead>
    <tbody>
      {{#each warrantys}}
        <tr>
          <input
            type="checkbox"
            id="checkboxId"
            name="checkboxName"
            value="checkboxValue"
          />
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.email}}</td>
          <td>{{this.name}}</td>
          <td>{{this.images}}</td>
          <td>{{this.address}}</td>
          <td>{{this.phone}}</td>
          <td>{{this.note}}</td>
          <td>{{this.status}}</td>
          <td>{{this.total}}</td>
          <td>{{this.details}}</td>
          <td>
            <a
              href="/admin/warranty/{{this._id}}/deltal"
              class="btn btn-link"
            >Chi tiết</a>
            <a href="" class="btn btn-link">Xóa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>