<div class="mt-4">
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Khachhang</th>
        <th scope="col">Sanpham</th>
        <th scope="col">Gia</th>
        <th scope="col">Trangthai</th>
        <th scope="col">Ghichu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.email}}</td>
        <td>{{this.name}}</td>
        <td>{{this.images}}</td>
        <td>{{this.address}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.note}}</td>
        <td>{{this.status}}</td>
        <td>{{this.total}}</td>
        <td>{{this.details}}</td>
      </tr>
    </tbody>
  </table>
</div>