<div class="container">
<div class="m-4">
  <a href="/admin/warranty/create" class="btn btn-secondary btn-sm float-end">Tạo đơn bảo
    hành</a>
  <table class="table mt-4">  
    <thead>
      <tr>    
        <th scope="col">STT</th>
        <th scope="col">Email</th>
        <th scope="col">HovaTen</th>
        <th scope="col">Diachi</th>
        <th scope="col">Sodienthoai</th>
      </tr>
    </thead>
    <tbody>
      {{#each warrantys}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.email}}</td>
          <td>{{this.name}}</td>
          <td>{{this.address}}</td>
          <td>{{this.phone}}</td>
          <td>
            <a
              href="/admin/warranty/{{this._id}}/deltail"
              class="btn btn-link"
            >Chi tiết</a>
            <a
              class="btn btn-link"
              href=""
              data-bs-toggle="modal"
              data-id="{{this._id}}"
              data-bs-target="#delete-warranty-modal"
            >Xóa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{! delete }}
<div id="delete-warranty-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bộ bạn muốn xóa lắm à ?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa ?</p>
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete"
          type="button"
          class="btn btn-secondary"
        >Xóa</button>
        <button
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-danger"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>
{{! delete }}
<form name="warrantyDelete" method="POST" action=""></form>     
</div>