<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">HinhAnh</th>
      <th scope="col">HovaTen</th>
      <th scope="col">Sodienthoai</th>
      <th scope="col">Diachi</th>
      <th scope="col">Ghichu</th>
      <th scope="col">Trangthai</th>
      <th scope="col">TongTien</th>
      <th scope="col">ChiTiet</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{this.HinhAnh}}</td>
      <td>{{this.HovaTen}}</td>
      <td>{{this.Sodienthoai}}</td>
      <td>{{this.Diachi}}</td>
      <td>{{this.Ghichu}}</td>
      <td>{{this.Trangthai}}</td>
      <td>{{this.TongTien}}</td>
      <td>{{this.ChiTiet}}</td>
    </tr>
  </tbody>
</table>