<a href="/product/{{this.slug}}/"
    class="item card h-100 shadow-sm position-relative flex-column justify-content-between mx-1">
    {{{showTagDiscount this.discount}}}
    {{{showTagBusiness this.isBusiness}}}
    <img src="{{showImgUpload this.images}}" class="rounded" alt="sd" />
    <div class="p-2">
        <p class="card-text fw-bold fs-6">
            {{this.name}}
        </p>
        {{{showPriceInCard this.variation.price this.discount}}}
        {{{showRatingStar this.reviews}}}
    </div>
</a>