<div class="">
    <div class="card h-100 shadow-sm position-relative"
        style="box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);">
        <a href="/product/{{this.slug}}/{{this.variations.slug}}" class="text-black">
            {{{showTagDiscount this.discount}}}
            {{{showTagBusiness this.isBusiness}}}
            <div
                style="background-image: url('{{showImgUpload this.images}}'); height: 260px; background-size: contain; background-position: center; background-repeat: no-repeat;">
            </div>
            <div class="card-body">
                <p class="card-text fw-bold fs-6 text-capitalize ">
                    {{this.name}}
                </p>
                {{{showPriceInCard this.variations.price this.discount}}}
                {{{showRatingStar this.reviews}}}
            </div>
        </a>
    </div>
</div>