{{!-- <header class="p-3 custom-bg-red text-white sticky-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center fs-3 mb-2 mb-lg-0 text-white text-decoration-none">
        CellPhoneZ
      </a>
      <div class="dropdown">
        <button type="button" class="btn btn-warning ms-lg-3 text-white" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">Danh mục</button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          {{#each categories}}
          <li><a class="dropdown-item" href="/{{this.slug}}">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </div>
      <form action="/search" class="col-12 col-lg-4 mb-3 mb-lg-0 ms-lg-auto">
        <input type="text" name="_find" hidden />
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search"
          name="q" />
        <input type="submit" class="" hidden />
      </form>

      <ul class="nav col-12 col-lg-auto ms-lg-auto me-lg-2 mb-2 justify-content-center mb-md-0">
        <li><a href="tel:0123456789" class="nav-link px-2 fs-5 text-white">Trung
            tâm tư vấn</a></li>
        <li><a href="/me/cart" class="nav-link px-2 fs-5 text-white">Giỏ hàng</a></li>
      </ul>
      {{#if name}}
      <a class="navbar-brand fs-5" href="/me">
        <span class="">{{name}}</span>
        <img src="https://www.w3schools.com/bootstrap5/img_avatar1.png" alt="Avatar Logo" style="width:40px;"
          class="rounded-pill" />
      </a>

      {{else}}
      <div class="text-end">
        <a href="/login" class="btn btn-outline-light me-2">Login</a>
        <a href="/signUp" class="btn btn-warning">Sign-up</a>
      </div>
      {{/if}}

    </div>

  </div>

</header> --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">CellPhoneZ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <p class="nav-link active" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Danh mục
          </p>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {{#each categories}}
            <li><a class="dropdown-item" href="/{{this.slug}}">{{this.name}}</a></li>
            {{/each}}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="tel:0382909902">Chăm sóc khách hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/me/cart">Giỏ hàng</a>
        </li>

      </ul>
      <form action="/search" class="d-flex me-2">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {{#if name}}
      <a class="navbar-brand fs-5 d-flex align-items-center" href="/me">
        <span class="">{{name}}</span>
        <img src="https://www.w3schools.com/bootstrap5/img_avatar1.png" alt="Avatar Logo" style="width:40px;"
          class="rounded-pill" />
      </a>

      {{else}}
      <div class="text-end">
        <a href="/login" class="btn btn-outline-light me-2">Login</a>
        <a href="/signUp" class="btn btn-warning">Sign-up</a>
      </div>
      {{/if}}
    </div>
  </div>
</nav>