<div class="container">
  <div class="row fw-bold">
    <a class="col-1 fs-3" href="/me/historyWarranty"><i class="bi bi-arrow-left"></i></a>
    <div class="col text-center fs-4">Chi tiết bảo hành</div>
  </div>
  <h5>Tên khách hàng: <strong>{{warranty.name}}</strong></h5>
  <h5>Số điện thoại: <strong>{{warranty.phone}}</strong></h5>
  <h5>Email: <strong>{{warranty.email}}</strong></h5>
  <h5>Thời gian tạo:
    <strong>{{formatDate warranty.createdAt "HH:ss DD/MM/YYYY"}}</strong>
  </h5>
  <h5>Ghi chú:</h5>
  <p>{{warranty.note}}</p>
  <h5>Trạng thái: <strong>{{showStatusWarranty warranty.status}}</strong></h5>
  {{!-- {{consoleHbs this}} --}}
  {{#each warranty.details}}
  <div class="row mt-2">
    <div class="col-2 text-center"><img class="w-100" src="{{showImgUpload image}}" alt="{{image}}" />
    </div>
    <div class="col-10">
      <p class="fs-4">{{name}}</p>
      <div class="">
        <ul class="fs-5">
          {{#each reasonAndPrice}}
          <li class="d-flex justify-content-between"><span>{{reason}}
            </span><span>{{showPrice price}}</span></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{/each}}
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10 fs-4 d-flex justify-content-between"><strong>Tổng thanh
        toán</strong><strong>{{showPrice (totalPriceWarranty warranty.details)}}</strong></div>
  </div>
</div>