<div class="container mt-3">
  <h1 class="fs-1 text-center">Lịch sử bảo hành</h1>
  <div class="row d-inline-flex border">
    {{! <div class="col mt-3">
      <span>01/12/2023</span>
      -
      <span>19/03/2024</span>
    </div> }}
  </div>
  <ul class="row nav gap-2">
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="/me/historyWarranty">Tất cả</a></li>
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="?_filter&column=status&value=pending">Chờ xác nhận</a></li>
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="?_filter&column=status&value=fixing">Đang sửa chữa</a></li>
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="?_filter&column=status&value=success">Đã sữa chữa</a></li>
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="?_filter&column=status&value=paid">Đã trả hàng</a></li>
  </ul>
  {{#each warranties}}
  {{> cardInProfile link="/me/detailWarranty"}}
  {{!-- <div class="row mt-3">
    <div class="col-2">
      <img class="w-100" src="{{showImgUpload this.image}}" alt="{{this.image}}" />
    </div>
    <div class="col-10">
      <p class="fs-4 mb-0">{{name}}</p>
      {{#if (compareMore this.countProduct 1)}}
      <div class="fs-6 text-black-50">và
        {{minus this.countProduct 1}}
        sản phẩm khác</div>
      {{/if}}
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary">{{showStatusWarranty status}}</button>
        <a href="/me/detailWarranty/{{_id}}" class="btn btn-danger">Xem chi
          tiết</a>
      </div>
    </div>
  </div> --}}
  {{/each}}
</div>