<div class="container">
  <form id="formOrder" action="/api/user/order" method="post">
    <div class="custom-mw-720px m-auto">
      <div class="text-center">
        <a href="javascript:history.back()" class="float-start fs-2"><i class="bi bi-arrow-left"></i></a>
        <span class="fs-1">Thông tin</span>
      </div>
      <div class="gap-3 d-grid mt-3">
        {{#each cart.items}}
          <div class="row">
            <div class="col-3"><img class="card-img" src="{{showImgUpload this.image}}" alt="" /></div>
            <div class="col-9">
              <h4>{{this.name}}</h4>
              <div class="d-flex justify-content-between">
                <p class="text-danger fs-5">{{showPrice this.price}}</p>
                <p>Số lượng:
                  <span class="text-danger">{{this.quantity}}</span>
                </p>
              </div>
            </div>
            <input type="text" name="details[{{@index}}][idVariation]" value="{{this.idVariation}}" hidden />
            <input type="text" name="details[{{@index}}][quantity]" value="{{this.quantity}}" hidden />
            <input type="text" name="details[{{@index}}][price]" value="{{this.price}}" hidden />
            <input type="text" name="details[{{@index}}][point]" value="{{this.point}}" hidden />
          </div>
        {{/each}}
      </div>
      <div class="mt-3">
        <div>
          <h5 class="text-capitalize">thông tin nhận hàng
            <button id="btnAddAddress" type="button" class="float-end btn btn-success">
              Thêm địa chỉ mới
            </button>
          </h5>
          <p class="error-shipping d-none text-danger">*Vui lòng chọn hoặc nhập
            địa chỉ giao hàng</p>
          <div id="listAddress" class="listAddress">
            {{#each shipmentDetail}}
              <div class="row mt-2">
                <div class="col-1">
                  <input type="radio" name="listAddress" data-bs-name="{{name}}" data-bs-phone="{{phone}}"
                    data-bs-address="{{address}}" {{isRadio defaultAddress true}} />
                </div>
                <div class="col-11">
                  <div>{{alias}}</div>
                  <div>{{name}} | {{phone}}</div>
                  <div>{{address}}</div>
                </div>
              </div>
            {{/each}}
          </div>
          <div id="addAddress" class="newAddress d-none">
            <div>
              <label for="">Tên người nhận</label>
              <input type="text" name="shipmentDetail[name]" class="required form-control" />
            </div>
            <div>
              <label for="">Số điện thoại</label>
              <input type="text" name="shipmentDetail[phone]" class="required form-control" />
            </div>
            <div>
              <label for="">Địa chỉ</label>
              <input type="text" name="shipmentDetail[address]" class="required form-control" />
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="note">
            <h5>Ghi chú <span id="countNote">0</span>/200</h5>
          </label>
          <textarea class="d-block w-100 form-control" name="note" id="note" cols="30" rows="3"
            style="resize: none;"></textarea>
        </div>
        <div class="bm-3 d-flex justify-content-end">
          <div class="d-flex">
            <p>Sử dụng điểm:</p>
            <p class="userPoint" data-bs-userPoint="{{userPoint}}" >{{userPoint}}</p>
          </div> 
          <div>
            <label class="container">
              <input class="pointCheckbox" type="checkbox">
              <svg viewBox="0 0 64 64" height="1em" width="1em">
                <path
                  d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16"
                  pathLength="575.0541381835938" class="path"></path>
              </svg>
            </label>
          </div>
        </div>
        <div class="mb-3">
          <h5>Phương thức thanh toán</h5>
          <p class="error-payment-method d-none text-danger">
            *Vui lòng chọn phương thức thanh toán
          </p>
          <div class="">
            <input class="required" type="text" name="paymentMethod" id="paymentMethod" hidden />
            <button type="button" class="chosePaymentMethod border-0 py-1 px-3 rounded" data-bs-method="0">Thanh toán
              khi nhân
              hàng</button>
            <button type="button" class="chosePaymentMethod border-0 py-1 px-3 rounded" data-bs-method="1">Thanh toán
              trực
              tuyến</button>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <p>Tổng điểm được tích:</p>
          <p>{{showPoint cart.totalPoint}}</p>
        </div>
        <div>
          <div class="mt-3 border p-2">
            <div class="d-flex justify-content-between">
              <h3>Tổng tiền:</h3>
              <p class="totalPrice text-danger fs-3" data-bs-totalPrice="{{cart.totalPrice}}">{{showPrice cart.totalPrice}}</p>
            </div>
            <button type="submit" class="btnSubmit w-100 bg-danger text-white py-2 fs-4 rounded">Đặt hàng
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>