<div class="container">
  <h1 class="fs-1 text-center">Thông tin cá nhân</h1>
  <form action="/api/profile?_method=PUT" method="post">
    <div class="row mb-lg-1 mb-3">
      <div class="col-lg-3">
        <label for="inpName" class="form-label fs-4">Họ và tên</label>
      </div>
      <div class="col-lg-6">
        <input id="inpName" class="w-100 fs-4 border-top-0 border-start-0 border-end-0 border-bottom-1 border-2"
          name="name" type="text" value="{{user.name}}" disabled />
      </div>
    </div>
    <div class="row mb-lg-1 mb-3">
      <div class="col-lg-3">
        <label for="inpEmail" class="form-label fs-4">Email</label>
      </div>
      <div class="col-lg-6">
        <input id="inpEmail" class="w-100 fs-4 border-top-0 border-start-0 border-end-0 border-bottom-1 border-2"
          type="email" value="{{user.email}}" disabled />
      </div>
    </div>
    <div class="row mb-lg-1 mb-3">
      <div class="col-lg-3">
        <label for="inpPhone" class="form-label fs-4">Số điện thoại</label>
      </div>
      <div class="col-lg-6">
        <input id="inpPhone" class="w-100 fs-4 border-top-0 border-start-0 border-end-0 border-bottom-1 border-2"
          name="phone" type="text" value="{{#if (compare user.phone null)}}Chưa cung cấp{{else}}{{user.phone}}{{/if}}"
          disabled />
      </div>
    </div>
    <div class="row mb-lg-1 mb-3">
      <div class="col-lg-3">
        <label for="inpGender" class="form-label fs-4">Giới tính</label>
      </div>
      <div class="col-lg-6">
        <select name="gender" id="inpGender" class="w-100 fs-4" disabled>
          <option value="0" {{#if (compare user.gender 0)}}selected{{/if}}>Nam</option>
          <option value="1" {{#if (compare user.gender 1)}}selected{{/if}}>Nữ</option>
        </select>
      </div>
    </div>
    <div class="row mb-lg-1 mb-3">
      <div class="col-lg-3">
        <label for="inpDateBirth" class="form-label fs-4">Ngày sinh</label>
      </div>
      <div class="col-lg-6">
        <input id="inpDateBirth" class="w-100 fs-4 border-top-0 border-start-0 border-end-0 border-bottom-1 border-2"
          name="birthday" type="date" value='{{formatDate user.birthday "YYYY-MM-DD"}}' disabled />
      </div>
    </div>
    <div class="row mb-lg-1 mb-3">
      <div class="col-lg-3">
        <label for="inpDateJoin" class="form-label fs-4">Ngày tham gia</label>
      </div>
      <div class="col-lg-6">
        <input id="inpDateJoin" class="w-100 fs-4 border-top-0 border-start-0 border-end-0 border-bottom-1 border-2"
          name="dateJoin" type="date" value="{{formatDate user.createdAt 'YYYY-MM-DD'}}" disabled />
      </div>
    </div>
    <div class="row mb-lg-1 mb-3  justify-content-center">
      <button type="button" id="btnUpdate" class="btn btn-success col-lg-3 mx-3">Cập nhật thông tin</button>
      <input type="reset" hidden>
      <button type="button" id="btnCancel" class="btn btn-danger col-lg-3 mx-3 d-none">Hủy</button>
      <button type="submit" id="btnSave" class="btn btn-primary col-lg-3 mx-3 d-none">Lưu</button>

    </div>
  </form>
</div>