<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F8 - Learn</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/nouislider.css">
    <link rel="stylesheet" href="/css/dataTables.dataTables.css" />
    

    {{#if css}}
      <link rel="stylesheet" href="/css/{{css}}.css" />
    {{/if}}
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
  </head>
  <body>
    <header>
      {{>header-admin}}
    </header>
    <div class="admin-container">
      {{{body}}}
    </div>
    <script
      src="https://kit.fontawesome.com/3505ae4a94.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {{!-- <script src="/js/bootstrap.bundle.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/nouislider.js"></script>
    <script src="/js/dataTables.dataTables.js"></script>
    {{#if message}}
      <div
        id="liveToast"
        class="toast align-items-center position-fixed top-0 end-0 p-3
          {{statusToast message.type}}"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div class="toast-body text-white">
            {{message.message}}
          </div>
          <button
            type="button"
            class="btn-close me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <script>
        $('document').ready(function () { $('#liveToast').toast('show'); })
      </script>
    {{/if}}
    {{!-- card scroll --}}
    {{#if js}}
      <script src="/js/{{js}}.js"></script>
    {{/if}}
  </body>
</html>