<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/static/icon.jpg">
  <title>{{title}}</title>


  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/nouislider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/styled-components/6.1.13/styled-components.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">

  {{#if css}}
  <link rel="stylesheet" href="/css/{{css}}.css">
  {{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/styled-components/6.1.13/styled-components.min.js"
    integrity="sha512-6w2BKgtvP40bf3IJ5OVQs5VG27PTc1DHAnsjg6BtL47czKaULVD9cJ/rly7jvxl0LGnVGXit3TzWRzbhL22xjA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <script src="/socket.io/socket.io.js"></script> <!-- Tải thư viện Socket.IO -->
  <script>
    // Đảm bảo thư viện đã tải trước khi gọi io()
    const socket = io(); // Kết nối đến server
    socket.on("connect", () => {
      console.log("Connected to server:", socket.id);
    });
  </script>
  {{> header-user}}
  {{{body}}}
  <script src="https://kit.fontawesome.com/3505ae4a94.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/nouislider.js"></script>

  {{#if js}}
  <script src="/js/{{js}}.js"></script>
  {{/if}}
  {{#if message}}
  <div id="liveToast" class="toast align-items-center position-fixed top-0 end-0 p-3 z-3
          {{statusToast message.type}}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body text-white">
        {{message.message}}
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
  <script>
    $('document').ready(function () { $('#liveToast').toast('show'); })
  </script>
  {{/if}}
</body>

</html>