<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/static/icon.jpg">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.css">
  {{#if css}}
  <link rel="stylesheet" href="/css/{{css}}.css">
  {{/if}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
  <script src="/socket.io/socket.io.js"></script> <!-- Tải thư viện Socket.IO -->
  <script>
    // Đảm bảo thư viện đã tải trước khi gọi io()
    const socket = io(); // Kết nối đến server
    socket.on("connect", () => {
      console.log("Connected to server:", socket.id);
    });
  </script>
  {{> header-user}}
  <div class="container mh-100">

    <div class="row mt-3">
      <div class="col-lg-auto">
        {{> userSidebar}}
      </div>
      <div class="col-lg">
        {{{body}}}
      </div>
    </div>

    <script src="https://kit.fontawesome.com/3505ae4a94.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    {{#if message}}
    <div id="liveToast" class="toast align-items-center position-fixed top-0 end-0 p-3 z-3
          {{statusToast message.type}}" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body text-white">
          {{message.message}}
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    <script>
      $('document').ready(function () { $('#liveToast').toast('show'); })
    </script>
    {{/if}}
    {{#if js}}
    <script src="/js/{{js}}.js"></script>
    {{/if}}
    <button class="btn position-fixed btn-primary d-lg-none" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="bottom: 70px; right:10px">
      <i class="bi bi-grid-3x3-gap fs-4"></i>
    </button>
</body>

</html>