<div class="container">
  <h1>{{product.name}}</h1>
  <hr />
  <div class="row">
    <div class="col-6">
      <div
        id="carouselExampleControlsNoTouching"
        class="carousel slide"
        data-bs-touch="false"
        data-bs-interval="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://cdn2.cellphones.com.vn/insecure/rs:fill:58:58/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_15_pro_max_256gb_-_10.png"
              class="d-block w-100"
              alt="..."
            />
          </div>

        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControlsNoTouching"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="description">
        <div class="title">Mô tả</div>
        <div class="body">
          <p>
            {{product.description}}
          </p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <h1 class="fs-1 text-danger">
        {{showPrice product.price}}
      </h1>
      {{{showVariations product.arrVariation product.curVariation.slug}}}
      {{! <ul class="nav text-center">
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >8GB-128GB</strong><div>14.000.000 đ</div></li>
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >8GB-256GB</strong><div>14.000.000 đ</div></li>
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >12GB-256GB</strong><div>14.000.000 đ</div></li>
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >12GB-512GB</strong><div>14.000.000 đ</div></li>
      </ul>
      <div class="chose-color">
        <div class="title fs-4 my-3">Chọn màu sắc</div>
        <div class="body">
          <ul class="nav text-center">
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Đen</strong><div>13.000.000 đ</div></li>
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Trắng</strong><div>13.000.000 đ</div></li>
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Xanh</strong><div>13.000.000 đ</div></li>
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Vàng</strong><div>13.000.000 đ</div></li>
          </ul>
        </div>
      </div> }}
      <div class="action my-3 row">
        <div class="col-8"><button
            class="w-100 py-3 rounded border bg-danger fs-4 text-white fw-bold"
          >Mua Ngay</button></div>
        <div class="col-4">
          <form action="/api/cart" method="post">
            <input
              type="hidden"
              name="idVariation"
              value="{{product.curVariation._id}}"
              hidden
            />
            <input type="hidden" name="quantity" value="1" hidden />
            <button
              type="submit"
              class="w-100 py-3 rounded border bg-light fs-5 fw-bold"
            >Thêm vào giỏ hàng</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>