<div class="container mt-3">
  <h1>{{product.name}}</h1>
  <hr />
  <div class="row">
    <div class="col-lg-6">
      {{!-- ảnh --}}
      <div id="carouselExampleControls" class="carousel slide border rounded d-flex align-items-center"
        data-bs-ride="carousel">
        <div class="carousel-inner">
          {{#each product.images}}
          <div class="carousel-item {{#if (compare @index 0)}}active{{/if}}">
            <img src="{{showImgUpload this}}" class="d-block w-100" alt="..." />
          </div>
          {{/each}}
        </div>
        <button class="carousel-control-prev justify-content-start" type="button"
          data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="bg-black bg-opacity-50 rounded px-2 py-3 rounded-end-circle" aria-hidden="true"><span
              class="carousel-control-prev-icon"></span></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next justify-content-end" type="button"
          data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="bg-black bg-opacity-50 rounded px-2 py-3 rounded-start-circle" aria-hidden="true"> <span
              class="carousel-control-next-icon"></span></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      {{!-- phân loại và mua --}}
      <div>
        {{#if (compareMore product.discount 0)}}
        <div class="text-decoration-line-through">{{showPrice
          product.price
          }}</div>
        <div class="fs-1 text-danger">
          {{showPrice (discountPrice product.price product.discount)}}
        </div>
        {{else}}
        <div class="fs-1 text-danger">
          {{showPrice product.price}}
        </div>
        {{/if}}
        {{{showVariations
        product.arrVariation
        product.curVariation
        product.discount
        }}}

        {{#if (and product.isBusiness (compareMore product.curVariation.quantity 0))}}
        <div class="action my-3 row row-cols-1 row-cols-lg-2 gap-1">
          <div class="col-lg-7"><a href="/me/order"
              class="btn w-100 py-3 rounded border bg-danger fs-4 text-white fw-bold">Mua
              Ngay</a></div>
          <div class="col-lg-4">
            <form action="/api/cart" method="post">
              <input type="hidden" name="idVariation" value="{{product.curVariation._id}}" hidden />
              <input type="hidden" name="quantity" value="1" hidden />
              <button type="submit" class="w-100 py-3 px-1 rounded border bg-light fs-6 fw-bold">Thêm vào giỏ
                hàng</button>
            </form>
          </div>
        </div>
        {{else}}
        <p class="text-center text-danger text-uppercase fs-3 bg-danger text-white rounded mt-2">
          {{getSoldOutOrBusiness product.isBusiness product.curVariation.quantity}}
        </p>
        {{/if}}
      </div>

    </div>
    <div class="col-lg-6">
      {{!-- mô tả --}}
      <div class="description border-1 shadow rounded p-3">
        <div class="title fs-5 fw-bold">Mô tả</div>
        <div class="body p-3 overflow-y-auto custom-none-scroll" style="max-height: 50vh;">
          <p>
            {{product.description}}
          </p>
        </div>
      </div>
      {{!-- đánh giá --}}
      <div class="mt-5 p-2 border-1 shadow rounded">
        <h3 class="text-center mb-2">Đánh giá & nhận xét {{product.name}}</h3>
        <div class="">
          <div class=" row row-cols-lg-2 row-cols-1">
            {{{showOverviewReivews product.reviews}}}
          </div>

          <div class="text-center my-3">
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#sendReviewModal">Gửi đánh
              giá</button>
          </div>
          {{!-- đánh giá --}}
          <div class="p-4 overflow-y-auto custom-none-scroll" style=" max-height: 50vh;">
            {{{showReviews product.reviews}}}
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="fs-4 fw-bold mt-4">Sản phẩm tương tự</div>
    <div class="owl-carousel owl-theme border shadow rounded-3">
      {{#each products}}
      {{> cardProductHome}}
      {{/each}}
    </div>
  </div>
</div>
{{!-- modal đánh gửi đánh giá --}}
<div class="modal fade" id="sendReviewModal" tabindex="-1" aria-labelledby="sendReviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendReviewModalLabel">Đánh giá và nhận xét</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/api/ratingProduct" method="post">
          <input type="text" name="idProduct" value="{{product._id}}" hidden>
          <div>
            <img src="{{showImgUpload product.images}}" style="width: 60px;" alt="">
            <span class="text-capitalize">{{product.name}}</span>
          </div>
          <div>
            <p class="fs-5 mt-2">Đánh giá chung</p>
            <div class="rating d-flex justify-content-around">
              <input hidden required type="radio" name="rating" value="1" id="1">
              <label for="1"><span class="fs-2 fa fa-star"></span></label>
              <input hidden required type="radio" name="rating" value="2" id="2">
              <label for="2"><span class="fs-2 fa fa-star"></span></label>
              <input hidden required type="radio" name="rating" value="3" id="3">
              <label for="3"><span class="fs-2 fa fa-star"></span></label>
              <input hidden required type="radio" name="rating" value="4" id="4">
              <label for="4"><span class="fs-2 fa fa-star"></span></label>
              <input hidden required type="radio" name="rating" value="5" id="5">
              <label for="5"><span class="fs-2 fa fa-star"></span></label>
            </div>
          </div>
          <div class="mb-3 mt-2">
            <label for="desc-text" class="col-form-label fs-5">Chia sẻ cảm nhận <span
                class="countCharacter">0</span>/250</label>
            <textarea class="form-control" id="desc-text" name="comment" style="resize: none;"></textarea>
          </div>
          <div class="d-flex justify-content-end gap-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Gửi đánh giá</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  $(".owl-carousel").owlCarousel({
    loop: false,
    margin: 10,
    lazyLoad: true,
    nav: false,
    stageClass: "owl-stage d-flex my-3",
    responsive: {
      0: {
        items: 2,
      },
      600: {
        items: 3,
      },
      800: {
        items: 4,
      },
      1000: {
        items: 5,
      },
    },
  });
</script>