<div class="container">
  <h1>{{product.name}}</h1>
  <hr />
  <div class="row">
    <div class="col-6">
      <div
        id="carouselExampleControls"
        class="carousel slide border rounded"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          {{#each product.images}}
            <div class="carousel-item {{#if (compare @index 0)}}active{{/if}}">
              <img
                src="{{showImgUpload this}}"
                class="d-block w-100"
                alt="..."
              />
            </div>
          {{/each}}
        </div>
        <button
          class="carousel-control-prev justify-content-start"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span
            class="bg-black bg-opacity-50 rounded px-2 py-3 rounded-end-circle"
            aria-hidden="true"
          ><span class="carousel-control-prev-icon"></span></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next justify-content-end"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span
            class="bg-black bg-opacity-50 rounded px-2 py-3 rounded-start-circle"
            aria-hidden="true"
          > <span class="carousel-control-next-icon"></span></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="description">
        <div class="title">Mô tả</div>
        <div class="body">
          <p>
            {{product.description}}
          </p>
        </div>
      </div>
    </div>

    <div class="col-6">
      {{#if (compareMore product.discount 0)}}
        <div class="text-decoration-line-through">{{showPrice
            product.price
          }}</div>
        <div class="fs-1 text-danger">
          {{showPrice (discountPrice product.price product.discount)}}
        </div>
      {{else}}
        <div class="fs-1 text-danger">
          {{showPrice product.price}}
        </div>
      {{/if}}

      {{{showVariations
        product.arrVariation
        product.curVariation.slug
        product.discount
      }}}
      {{! <ul class="nav text-center">
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >8GB-128GB</strong><div>14.000.000 đ</div></li>
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >8GB-256GB</strong><div>14.000.000 đ</div></li>
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >12GB-256GB</strong><div>14.000.000 đ</div></li>
        <li class="py-1 px-3 me-3 bg-light border rounded" role="button"><strong
          >12GB-512GB</strong><div>14.000.000 đ</div></li>
      </ul>
      <div class="chose-color">
        <div class="title fs-4 my-3">Chọn màu sắc</div>
        <div class="body">
          <ul class="nav text-center">
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Đen</strong><div>13.000.000 đ</div></li>
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Trắng</strong><div>13.000.000 đ</div></li>
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Xanh</strong><div>13.000.000 đ</div></li>
            <li
              class="py-1 px-3 me-3 bg-light border rounded"
              role="button"
            ><strong>Vàng</strong><div>13.000.000 đ</div></li>
          </ul>
        </div>
      </div> }}
      <div class="action my-3 row">
        <div class="col-8"><a
            href="/me/order"
            class="btn w-100 py-3 rounded border bg-danger fs-4 text-white fw-bold"
          >Mua Ngay</a></div>
        <div class="col-4">
          <form action="/api/cart" method="post">
            <input
              type="hidden"
              name="idVariation"
              value="{{product.curVariation._id}}"
              hidden
            />
            <input type="hidden" name="quantity" value="1" hidden />
            <button
              type="submit"
              class="w-100 py-3 rounded border bg-light fs-5 fw-bold"
            >Thêm vào giỏ hàng</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>