<div class="container mt-4">
  {{! sắp xếp }}
  <div class="sort d-flex justify-content-between">
    <div class="title fs-4 fw-bold text-uppercase">Đã tìm thấy
      <span class="text-danger">{{countProduct}}</span>
      với từ khóa "{{keySearch}}"
    </div>
    <ul class="nav">
      <li><a class="btn rounded border ms-2" href="{{getSortUrl url}}&column=price&type=asc">Giá thấp đến cao</a></li>
      <li><a class="btn rounded border ms-2" href="{{getSortUrl url}}&column=price&type=desc">Giá cao đến thấp</a></li>
      <li><a class="btn rounded border ms-2" href="{{getSortUrl url}}&column=createdAt&type=desc">Mới nhất</a></li>
      <li><a class="btn rounded border ms-2" href="{{getSortUrl url}}&column=createdAt&type=asc">Cũ nhất</a></li>
    </ul>
  </div>
  <div class="align-items-stretch my-3 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    {{#each products}}
    {{! bắt đầu card }}
    <div class="col">
      <div class="card h-100 shadow-sm position-relative">
        <a href="/product/{{this.slug}}/{{this.variations.slug}}" class="">
          {{{showTagDiscount this.discount}}}
          <img src="{{showImgUpload this.images}}" class="card-img-top rounded" alt="sd" />
          <div class="card-body">
            <p class="card-text fw-bold fs-6 text-capitalize ">
              {{this.name}}
            </p>
            {{{showPriceInCard this.variations.price this.discount}}}
            <div class="ratings">
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
    {{! kêt thúc card }}
    {{/each}}
  </div>
  <div>
    {{#pagination currentPage totalPage 5}}
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        {{#if notFirstPage}}
        <li class="page-item">
          <a class="page-link fs-5" href="{{getPagiUrl ../url}}&page={{minus currentPage 1}}" tabindex="-1"
            aria-disabled="true">Previous</a>
        </li>
        {{/if}}
        {{#each pages}}
        <li class="page-item {{#if this.isCurrent}}active{{/if}}">
          <a class="page-link fs-5" href="{{getPagiUrl ../../url}}&page={{this.page}}">{{this.page}}</a>
        </li>
        {{/each}}
        {{#if notLastPage}}
        <li class="page-item">
          <a class="page-link fs-5" href="{{getPagiUrl ../url}}&page={{sum currentPage 1}}">Next</a>
        </li>
        {{/if}}
      </ul>
    </nav>
    {{/pagination}}
  </div>
</div>