<div class="container">

  {{! bộ lọc }}
  <div class="filter nav my-4 align-items-center">
    <div class="title fs-5 me-4">Bộ lọc</div>
    <div class="filter-item">
      <div
        class="title dropdown-toggle border fs-5 px-2 py-1 rounded me-2"
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >Hãng</div>
      <div class="body dropdown-menu">
        <ul class="list nav">
          {{#each (getBrands categories rootCategory)}}
            <li > <a class="bg-light p-1 m-2 rounded" href="/{{../rootCategory}}/{{this.slug}}">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="filter-item">
      <div
        class="title dropdown-toggle border fs-5 px-2 py-1 rounded me-2"
        role="button"
        data-bs-toggle="dropdown"
        data-bs-auto-close="outside"
        aria-expanded="false"
      >Mức giá</div>
      <div class="body dropdown-menu w-25">

        <div class="position-relative row justify-content-center">
          <div class="start-price position-absolute w-auto start-0 ps-5"></div>
          <div class="end-price position-absolute end-0 w-auto pe-5"></div>
          <div id="slider" class="col-10 mt-5 mb-2"></div>
        </div>
        <hr class="dropdown-divider" />
        <div class="action justify-content-center d-flex g-4">
          <form action="">
            <input
              type="text"
              class="form-control"
              placeholder="Từ"
              name="start-price"
              hidden
            />
            <input
              type="text"
              class="form-control"
              placeholder="Đến"
              name="end-price"
              hidden
            />
            <a class="btn btn-light mx-2" href="{{pathName}}">Bỏ chọn</a>
            <button type="submit" class="btn btn-primary mx-2">Lọc</button>
          </form>
        </div>
      </div>

    </div>
  </div>
  <ul class="nav my-3">
    {{#each subCategories}}
      <li class=""><a
          class="bg-light py-1 px-3 me-2 rounded"
          href="{{../pathName}}/{{this.slug}}"
        >{{this.name}}</a></li>
    {{/each}}
  </ul>

  {{! sắp xếp }}
  <div class="sort d-flex justify-content-between">
    <div class="title fs-4 fw-bold text-uppercase"><a href="/{{rootCategory}}">Điện thoại</a></div>
    <ul class="nav">
      <li><a class="btn rounded border ms-2" href="?_sort&column=price&type=asc">Giá
          thấp đến cao</a></li>
      <li><a
          class="btn rounded border ms-2"
          href="?_sort&column=price&type=desc"
        >Giá cao đến thấp</a></li>
      <li><a
          class="btn rounded border ms-2"
          href="?_sort&column=createdAt&type=desc"
        >Mới nhất</a></li>
      <li><a
          class="btn rounded border ms-2"
          href="?_sort&column=createdAt&type=asc"
        >Cũ nhất</a></li>
    </ul>
  </div>
  <div
    class="align-items-stretch my-3 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3"
  >
    {{#each products}}
      {{! bắt đầu card }}

      <div class="col">
        <div class="card h-100 shadow-sm position-relative">
          <a href="/product/{{this.slug}}/" class="">
            {{{showDiscount this.discount.percent}}}
            <img
              src="{{showImgUpload this.images}}"
              class="card-img-top rounded"
              alt="sd"
            />
            <div class="card-body">
              <p class="card-text fw-bold fs-5">
                {{this.name}}
              </p>
              <p class="card-text text-decoration-line-through">
                {{showDefaultPrice this.variations}}
              </p>
              <p class="card-text text-danger fs-4 fw-medium">
                {{showDiscountPrice this.variations this.discount}}
              </p>
              <div class="ratings">
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      {{! kêt thúc card }}
    {{/each}}
  </div>
  <div class="d-flex justify-content-center"><button
      class="m-auto btn btn-light fs-5 border"
    >Xem thêm <i class="bi bi-caret-down"></i></button></div>
</div>