<div class="container">
  <div class="nav d-flex justify-content-end my-3">
    <form class="d-flex" id="searchForm">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        id="searchInput"
      />
      <button class="btn btn-outline-success" type="button">Search</button>
    </form>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Họ Tên</th>
          <th scope="col" class="col-3">Hành Động </th>
        </tr>
      </thead>
      <tbody>
      {{#each users}}
        <form id="hierarchy-{{this._id}}" action="/api/accessProviders/{{this._id}}?_method=PUT" method="post">
          <tr>
            <td>{{this.email}}</td> 
            <td>{{this.name}}</td>  
            <td>
              <select class="changeHierarchy form-select" name="role" aria-label="Default select example" data-formid="hierarchy-{{this._id}}">
                <option  value="user" {{#if (compare this.role "user")}}selected{{/if}}>Khách Hàng</option>
                <option  value="admin" {{#if (compare this.role "admin")}}selected{{/if}}>Admin</option>
              </select>
            </td>
          </tr>
        </form>
      {{/each}}
      </tbody>
    </table>
</div>