<div class="container">
  <h1 class="text-center text-capitalize">Quản lý tài khoản</h1>
  <div class="nav d-flex justify-content-end my-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 rightul">
        <li class="nav-item me-3">
          <form style="display: block;" id="formFilter" action="{{getFilterUrl url}}" method="get">
            <ul class="navbar-nav">
              <li class="d-flex align-items-center me-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" value="admin" id="flexCheckDefaultAdmin" name="match"
                    {{isRadio match "admin" }}>
                  <label class="form-check-label" for="flexCheckDefaultAdmin">
                    Admin
                  </label>
                </div>
              </li>
              <li class="d-flex align-items-center me-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" value="user" id="flexCheckDefaultUser" name="match"
                    {{isRadio match "user" }}>
                  <label class="form-check-label" for="flexCheckDefaultUser">
                    User
                  </label>
                </div>
              </li>
              <li>
                <button type="submit" class="btn btn-primary">Lọc</button>
              </li>
            </ul>
          </form>
        </li>
        <li class="nav-item me-3">
          <a href="/admin/accessProviders" class="btn btn-warning">Bỏ Lọc</a>
        </li>
        <li class="nav-item">
          <form class="d-flex" id="searchForm" action="/admin/accessProviders">
            <input class="form-control me-3" type="search" placeholder="Nhập Email" aria-label="Search" id="searchInput"
              name="searchQuery" value="{{searchQuery}}" />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>
      </ul>
    </nav>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Email</th>
        <th scope="col">Họ Tên</th>
        <th scope="col" class="col-4">
          <center>Hành Động</center>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <form id="hierarchy-{{this._id}}" action="/api/admin/accessProviders/{{this._id}}?_method=PUT" method="post">
          <tr>
            <th scope="row">{{showStt ../currentPage @index}}</th>
            <td>{{this.email}}</td>
            <td>{{this.name}}</td>
            <td class="d-flex justify-content-around">
              <div>
                <a href="/admin/orderFromUser/{{this._id}}" class="btn btn-primary">Xem các đơn hàng</a>
              </div>
              <div>
                <select class="changeHierarchy form-select" name="role" aria-label="Default select example"
                  data-formid="hierarchy-{{this._id}}">
                  <option value="user" {{#if (compare this.role "user" )}}selected{{/if}}>Khách Hàng</option>
                  <option value="admin" {{#if (compare this.role "admin" )}}selected{{/if}}>Admin</option>
                </select>
              </div>
            </td>
          </tr>
        </form>
      {{/each}}
    </tbody>
  </table>
</div>
<div>

  {{#pagination currentPage totalPage 5}}
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        {{#if notFirstPage}}
          <li class="page-item">
            <a class="page-link fs-5" href="{{getPagiUrl ../url}}&page={{minus currentPage 1}}" tabindex="-1"
              aria-disabled="true">Previous</a>
          </li>
        {{/if}}
        {{#each pages}}
          <li class="page-item {{#if this.isCurrent}}active{{/if}}">
            <a class="page-link fs-5" href="{{getPagiUrl ../../url}}&page={{this.page}}">{{this.page}}</a>
          </li>
        {{/each}}
        {{#if notLastPage}}
          <li class="page-item">
            <a class="page-link fs-5" href="{{getPagiUrl ../url}}&page={{sum currentPage 1}}">Next</a>
          </li>
        {{/if}}
      </ul>
    </nav>
  {{/pagination}}
</div>