<div class="container  py-5">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center my-4">Quản Lý Banner</h2>
      <div class="one-quarter text-end" id="switch">
          <input type="checkbox" class="checkbox" id="chk" />
          <label class="label" for="chk">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
          </label>
        </div>
      <button
        data-linkAction="/api/storeBanner"
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#addBannerModal"
        id="addBanner"
      >Thêm Banner</button>

      <table class="table table-bordered table-striped mt-4">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên Banner</th>
            <th>Banner</th>
            <th>Thời gian tạo</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
          {{#each banners}}
          <form id="changeStatus-{{this._id}}" method="POST" action="/api/changeBanner/{{this._id}}?_method=PUT">
            <tr>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>
                <img src="{{showImgUpload this.image}}" alt="" class="w-25" />
              </td>
              <td>{{formatDate this.createdAt "DD/MM/YYYY"}}</td>
              <td>
                
                <div class="form-check form-switch">
                  <input
                    name="status" 
                    class="form-check-input changeStatus"
                    data-formid="changeStatus-{{this._id}}"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                    value="{{this.status}}"
                    {{#if this.status}}
                        checked{{/if}} 
                  />
                </div>  
              </td>
              <td>
                <button 
                data-linkAction="/api/editBanner/{{this._id}}?_method=PUT"
                data-name="{{this.name}}" 
                data-id="{{this._id}}" 
                id="editBanner" 
                data-link="{{this.link}}" 
                data-image="{{this.image}}"
                data-linkImage="{{showImgUpload this.image}}"
                type="button" 
                class="btn btn-success edit-banner-btn"
                data-bs-toggle="modal"
                data-bs-target="#addBannerModal">Sửa</button>
                <button 
                data-bs-toggle="modal"
                data-bs-target="#delete-banner-modal" 
                data-delete="{{this._id}}" 
                type="button"
                class="btn btn-dark btn-delete ">Xóa</button> 
              </td>
            </tr>
          </form>
          {{/each}}
        </tbody>
      </table>
      <!-- Add Banner Modal -->
      <div
        class="modal fade"
        id="addBannerModal"
        tabindex="-1"         
        role="dialog"
        aria-labelledby="addBannerModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addBannerModalLabel">Thêm Banner</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <form
              id="editBanner"
              method="post"
              action=""
              enctype="multipart/form-data"
            >
              <div class="modal-body">
                <div class="form-group">
                  <label for="banner-name" class="col-form-label">Tên Banner:</label>
                  <input
                    id="name"
                    type="text"
                    name="name"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                    <label for="banner-link" class="col-form-label">Link :</label>
                    <input
                          type="text" 
                          name="link" 
                          class="form-control" 
                          id="link"/>
                  </div>
                <div class="form-group">
                  <label for="banner-image" class="col-form-label">Ảnh Banner:</label>
                   <img class="w-25" id="preview-image" src="" alt="Preview Image">
                  <input
                    type="file"
                    name="image"
                    class="form-control"
                    id="image"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Đóng</button>
                <input type="submit" class="btn btn-primary" value="Lưu"  />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{! delete }}
<div id="delete-banner-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bộ bạn muốn xóa lắm à ?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa ?</p>
      </div>
      <div class="modal-footer">
        <button
          id="btn-delete"
          type="button"
          class="btn btn-secondary"
        >Xóa</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Hủy</button>
      </div>
    </div>
  </div>
</div>
{{! delete }}
<form name="bannerDelete" method="POST" action=""></form>