<style>
  .text-ellipsis1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
</style>


<div class="container mt-5">
  <h2 class="mb-4">Quản lý Hỏi Đáp</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-1 text-center" scope="col">STT</th>
        <th class="col-2 text-center" scope="col">Tên người hỏi</th>
        <th class="col-3 text-center" scope="col">Tên sản phẩm</th>
        <th class="col-4 text-center" scope="col">Nội dung</th>
        <th class="text-center" scope="col">Thời gian</th>
        <th class="text-center col-1" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each comments}}
        <tr>
          <th class="text-center" scope="row">{{{showStt ../currentPage @index}}}</th>
          <td>{{this.fullname}}</td>
          <td class=" text-ellipsis1">{{this.productName}}</td>
          <td class=" text-ellipsis1">{{this.comment}}</td>
          <td class="text-center">{{this.timeUpdate}}</td>
          <td class="text-center">
            <a href="/product/{{this.slug}}#{{this.idComment}}" class="btn btn-primary" target="_blank">Trả lời</a>
          </td>
        </tr>
      {{/each}}

    </tbody>
  </table>
  <div>
    {{#pagination currentPage totalPage 5}}
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          {{#if notFirstPage}}
            <li class="page-item">
              <a class="page-link fs-5" href="{{getPagiUrl ../url}}&page={{minus currentPage 1}}" tabindex="-1"
                aria-disabled="true">Previous</a>
            </li>
          {{/if}}
          {{#each pages}}
            <li class="page-item {{#if this.isCurrent}}active{{/if}}">
              <a class="page-link fs-5" href="{{getPagiUrl ../../url}}&page={{this.page}}">{{this.page}}</a>
            </li>
          {{/each}}
          {{#if notLastPage}}
            <li class="page-item">
              <a class="page-link fs-5" href="{{getPagiUrl ../url}}&page={{sum currentPage 1}}">Next</a>
            </li>
          {{/if}}
        </ul>
      </nav>
    {{/pagination}}
  </div>
</div>
