<div class="container">
  <div class="row mt-3">
    <div class="col-5">
      <div class="header-admin-container">
        <ul class="nav">
          <li class="nav-item">
            <h3>{{countOrdersPending orders}} Đơn Mới</h3>
            <div id="emailHelp" class="form-text">Đang chờ xử lý</div>
          </li>
          <li class="nav-item ms-5">
            <h3>{{countOrdersSuccess orders}} Đơn</h3>
            <div id="emailHelp" class="form-text">Thành công</div>
          </li>
          <li class="nav-item ms-5">
            <h3>{{checkOutOfStock products}} Sản Phẩm</h3>
            <div id="emailHelp" class="form-text">Hết Hàng</div>
          </li>
        </ul>
      </div>
      <div>
        <hr />
      </div>
      {{!-- <div class="row">
        <div class="col-5">
          <p>Từ Ngày :</p>
          <input type="date" name="" id="" class="form-control dateStart" />
        </div>
        <div class="col-5">
          <p>Đến Ngày :</p>
          <input type="date" name="" id="" class="form-control dateEnd" disabled />
        </div>
        <div class="col-2 position-relative">
          <button type="button" class="btn btn-success position-absolute bottom-0 btn-gotoDate" disabled>Đi</button>
        </div>
      </div> --}}
      <div style="scale: 0.85;">
        <canvas id="chart"></canvas>
      </div>
      {{#each orders}}<p hidden class="{{this.status}}">{{this.status}}</p>{{/each}}
    </div>
    <div class="col position-relative">
      <h3 class="text-center">Duyệt Nhanh Đánh Giá:</h3>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center" scope="col">Tên sản phẩm</th>
            <th class="text-center col-3" scope="col">Tên người dùng</th>
            <th class="text-center col-2" scope="col">Đánh giá</th>
            <th class="text-end col-3" scope="col">Hành động</th>
          </tr>
        </thead>
        <tbody>
          {{#each assessReview}}
          <tr>
            <td class="col">
              <div class="text-ellipsis">{{this.name}}</div>
            </td>
            <td>{{this.user.name}}</td>
            <td class="col text-center">{{this.reviews.rating}}</td>
            <td class="text-end">
              <form class="d-inline-block" action="/api/accessReview" method="post">
                <input type="text" name="idReview" value="{{this.reviews._id}}" hidden>
                <input type="text" name="action" value="accept" hidden>
                <button type="submit" class="btn btn-primary">Duyệt</button>
              </form>
              <form class="d-inline-block" action="/api/accessReview" method="post">
                <input type="text" name="idReview" value="{{this.reviews._id}}" hidden>
                <input type="text" name="action" value="reject" hidden>
                <button type="submit" class="btn btn-danger">Xóa</button>
              </form>
            </td>
            {{/each}}
        </tbody>
      </table>
      <div class="d-flex justify-content-end position-absolute bottom-0 end-0">
        <a href="/admin/accessReview" class="btn btn-primary">Xem Tất Cả Đánh Giá</a>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <h3>Doanh Thu: {{showPrice doanhThu}} VND</h3>
  </div>
  <div class="row mt-4">
    <h3 class="bg-dark text-light">Top Sản Phẩm Bán Chạy</h3>
    {{#each topProducts}}
    <div class="col-3">
      <div class="card" style="width: 300px; height: 470px;">
        <img class="card-img-top w-100" src="/img/uploads/{{#each this.images}}{{#if @first}}{{this}}{{/if}}{{/each}}">
        <div class="card-body row d-flex align-content-end flex-wrap">
          <div class="col-12">
            <a href="/admin/product/{{this._id}}/detail">
              <h5>{{this.name}}</h5>
            </a>
          </div>
          <div class="col-12">
            <p class="card-text">Tổng Số lượt bán: {{this.totalSold}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="row mt-4">
    <h3 class="bg-dark text-light">Top Sản Phẩm Có Nhiều Lượt Đánh Giá Nhất</h3>
    {{#each topReviewProduct}}
    <div class="col-3">
      <div class="card" style="width: 300px; height: 470px;">
        <img class="card-img-top w-100" src="/img/uploads/{{#each this.images}}{{#if @first}}{{this}}{{/if}}{{/each}}">
        <div class="card-body row d-flex align-content-end flex-wrap">
          <div class="col-12">
            <a href="/admin/product/{{this._id}}/detail">
              <h5>{{this.name}}</h5>
            </a>
          </div>
          <div class="col-12">
            <p class="card-text">Tổng Số Lượt Đánh Giá: {{this.totalReviews}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="row mt-4">
    <h3 class="bg-dark text-light">Top Sản Phẩm Có Số Lượt Xem Nhiều nhất</h3>
    {{#each topSeenProduct}}
    <div class="col-3">
      <div class="card" style="width: 300px; height: 470px;">
        <img class="card-img-top w-100" src="/img/uploads/{{#each this.images}}{{#if @first}}{{this}}{{/if}}{{/each}}">
        <div class="card-body row d-flex align-content-end flex-wrap">
          <div class="col-12">
            <a href="/admin/product/{{this._id}}/detail">
              <h5>{{this.name}}</h5>
            </a>
          </div>
          <div class="col-12">
            <p class="card-text">Tổng Số Lượt Xem: {{this.view}}</p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>