<div class="ms-5 mt-3">
  <a href="javascript:history.back()" class="btn btn-primary">
    Quay Lại
    <i class="bi bi-arrow-return-left"></i></a>
</div>
<div class="container mt-3">
  <div class="row mb-4">
    <div class="col-1">
      <img src="https://cellphones.com.vn/smember/_nuxt/img/Shipper_CPS3.77d4065.png" alt="avt nè"
        class="img-thumbnail rounded-circle" />
    </div>
    <div class="col d-flex flex-column gap-2">
      <div class="text-capitalize fw-bold fs-5">{{nameUser}}</div>
      <button
        class="border border-1 border-danger rounded-2 px-3 bg-white text-danger custom-fs-14px custom-w-fitcontent">ZNew</button>
    </div>
  </div>
  <div class="row bg-white border rounded-3 py-2 d-flex mb-4">
    <div class="col-4 text-center mt-2 border-end border-dark">
      <h3>{{countOrder}}</h3>
      <p>Đơn hàng</p>
    </div>

    <div class="col-4 text-center mt-2 border-end border-dark">
      <h3>{{showPrice totalMoneyPaid}}</h3>
      <p>Tổng tiền tích lũy</p>
    </div>

    <div class="col-4 text-center mt-2 ">
      <h3>{{userPoint}}</h3>
      <p>Tổng điểm tích lũy</p>
    </div>
  </div>

  {{! <div class="row d-flex border rounded-2 px-1 mb-4 custom-w-fitcontent">
    <div class="col-1 custom-w-fitcontent"><i class="bi bi-calendar"></i></div>
    <p class="col m-0 ps-0"><span>01/07/2023</span>
      -
      <span>01/07/2023</span>
    </p>
  </div> }}
  <ul class="row nav gap-2 overflow-x-auto custom-none-scroll flex-nowrap">
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="/admin/orderFromUser/{{idUser}}">Tất cả</a></li>
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="?_filter&column=status&value=pending">Chờ xác nhận</a></li>
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="?_filter&column=status&value=shipping">Đang vận chuyển</a></li>
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="?_filter&column=status&value=success">Thành công</a></li>
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="?_filter&column=status&value=failed">Thất bại</a></li>
    <li class="custom-w-fitcontent"><a class="border border-1 rounded-2 px-3 py-2 bg-white col-2"
        href="?_filter&column=status&value=cancel">Bị hủy</a></li>
  </ul>
  {{! không có sản phẩm }}
  <div class="row text-center d-flex justify-content-center mt-5 d-none">
    <div class="w-25 mb-2">
      <img class="w-100" src="https://cellphones.com.vn/smember/_nuxt/img/empty.db6deab.svg"
        alt="không có mua gì hết" />
    </div>
    <p>Không có đơn hàng nào thỏa mãn!</p>
  </div>
  {{! có sản phẩm }}
  {{#each orders}}
    {{> cardInProfile link=(concat "/admin/order/" _id "/detail") countProduct=quantityProduct}}
    {{!-- <div class="tag_product mb-2">
    <div class="row card mt-3 d-flex flex-row py-2">
      <div class="col-2 py-1">
        <img class="w-100" src="{{showImgUpload image}}" alt="{{image}}" />
      </div>
      <div class="col-8">
        <a class="fs-5" href="/me/detailOrder/{{_id}}">{{name}}</a>
        {{#if (compareMore this.quantityProduct 1)}}
        <div class="fs-6 text-black-50">và
          {{minus this.quantityProduct 1}}
          sản phẩm khác</div>
        {{/if}}
        <div class="p-2 mt-3 text-success bg-success bg-opacity-25 custom-w-fitcontent custom-fs-12px">{{showStatusOrder
          status}}</div>
        <div class="mt-5 fs-5 text-danger fw-bold">{{showPrice
          this.total
          }}</div>
      </div>
      <div class="col d-flex flex-column align-items-end justify-content-between">
        <p class="opacity-75">
          {{formatDate createdAt "DD/MM/YYYY HH:mm"}}
        </p>
        <a class="border border-1 border-danger rounded-2 px-3 bg-white text-danger custom-w-fitcontent"
          href="/me/detailOrder/{{_id}}">Xem chi tiết</a>
      </div>
    </div>
  </div> --}}
  {{/each}}
</div>